{
    "extends": ["eslint:recommended", "prettier"],
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "rules": {
        "no-console": 0
    },
    "parser": "@typescript-eslint/parser",
    "globals": { "VERSION": true }
}
